.dashboard-home {
  width: 100%;
  //height: calc(100% - 80px);
  background: #052442;
  color: #fff;
  padding: 40px 60px;
  .title {
    display: flex;
  }

  .movie-list {
    height: 100%;
    background-color: #fff;
    color: #0b0b0b;
    border-radius: 5px;
    padding: 20px;
  }

  .wallet {
    height: 100%;
    background-color: #fff;
    color: #0b0b0b;
    border-radius: 5px;
    padding: 20px;
  }
  .activities {
    width: 100%;
    background-color: #fff;
    color: #0b0b0b;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
  }
}
